<div class="container" style="padding-top: 10%">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <div class="well bs-component">
                <form id="serialForm" class="form-horizontal">
                    <fieldset>
                        <legend>Query by serial</legend>
                        <div class="form-group">
                            <label for="inputSerial" class="col-lg-2 control-label">Serial</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputSerial" name="inputSerial" placeholder="Serial">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="well bs-component">
                <form id="dateForm" class="form-horizontal">
                    <fieldset>
                        <legend>Query by date</legend>
                        <div class="form-group">
                            <label for="inputDate" class="col-lg-2 control-label">Date</label>
                            <div class="col-lg-10">
                                <input type="text" id="inputDate" class="form-control datepicker" name="inputDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/bootstrap-datepicker.js"></script>
<script type="text/javascript">
function resultCallback(result) {
    console.log(result);
}
$("#serialForm").submit(function() {
    $.ajax({
        type: "POST",
        url: "/handleQuery",
        dataType: 'json',
        data: $("#serialForm").serializeArray(),
        success: function(result) {
            resultCallback(result);
        }
    });
    return false;
});
</script>
