<div class="container" style="padding-top: 10%">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <a href="/upload" class="btn btn-large btn-primary">Upload file</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <div class="well bs-component">
                <form id="serialForm" class="form-horizontal" action="/querySerial">
                    <fieldset>
                        <legend>Query by serial</legend>
                        <div class="form-group">
                            <label for="inputSerial" class="col-lg-2 control-label">Serial</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputSerial" name="inputSerial" placeholder="Serial">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="well bs-component">
                <form id="dateForm" class="form-horizontal">
                    <fieldset>
                        <legend>Query by date</legend>
                        <div class="form-group">
                            <label for="startDate" class="col-lg-2 control-label">Start date:</label>
                            <div class="col-lg-10">
                                <input type="text" id="startDate" class="form-control datepicker" name="startDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-lg-2 control-label">End date:</label>
                            <div class="col-lg-10">
                                <input type="text" id="endDate" class="form-control datepicker" name="endDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <img src="/assets/loader.gif" alt="Querying..." id="qLoader">
</div>

<div id="queryResults" class="container"></div>

<script type="text/javascript" src="/assets/bootstrap-datepicker.js"></script>

<!-- autohide datepickers after selection -->
<script type="text/javascript">
$('#startDate').on('changeDate', function(ev) {
        $(this).datepicker('hide');
        });
$('#endDate').on('changeDate', function(ev) {
        $(this).datepicker('hide');
        });
</script>

<!-- ajax querying -->
<script type="text/javascript">

function renderResult(result, resultId) {
    var foldedDiv =
        $(document.createElement("div"))
        .addClass("panel-collapse collapse")
        .attr("id", "resultId" + resultId)
        .css("height", "auto");

    var resDiv = $(document.createElement("div")).addClass("panel-body");

    var rawData = JSON.stringify(result, null, 4);
    var resItem =
        $(document.createElement("pre"))
        .css("overflow", "auto")
        .text(rawData);

    resDiv.append(resItem);
    foldedDiv.append(resDiv);

    var headDiv = $(document.createElement("div")).addClass("panel-heading");
    var headTitle = $(document.createElement("h4")).addClass("panel-title");
    var headLink =
        $(document.createElement("a"))
        .addClass("collapsed")
        .attr("data-toggle", "collapse")
        .attr("data-parent", "#queryResults")
        .attr("href", "#resultId" + resultId);
    var headLinkId = $(document.createElement("span"))
        .text(result["serialnumber"])
        .css("font-weight", "bold");
    if (result.hasOwnProperty("allPassed")) {
        var color = "red";
        if (result["allPassed"]) color = "green"
            headLinkId.css("color", color);
    }
    headLink.append(headLinkId);
    if (result.hasOwnProperty("place")) {
        headLink.append($(document.createElement("br")));
        headLink.append($(document.createElement("span"))
                .text(result["place"]));
    }
    if (result.hasOwnProperty("pretty_date")) {
        headLink.append($(document.createElement("br")));
        headLink.append($(document.createElement("span"))
                .text(result["pretty_date"]));
    }

    headTitle.append(headLink);
    headDiv.append(headTitle);

    var completeElement = 
        $(document.createElement("div"))
        .addClass("panel panel-default");
    completeElement.append(headDiv);
    completeElement.append(foldedDiv);

    return completeElement;
}

function resultCallback(results) {
    var resContainer = $("#queryResults");
    resContainer.empty();

    if (!results || results.length == 0) {
        resContainer.append(
                $(document.createElement("span"))
                .text("No results :(")
                .addClass("alert alert-danger")
                );
        return;
    }
    for (var i = 0; i < results.length ; i++) {
        resContainer.append(renderResult(results[i], i));
    }
}

$("#dateForm").submit(function() {
        $.ajax({
type: "POST",
url: "/queryDate",
dataType: 'json',
data: $("#dateForm").serializeArray(),
success: function(results) {
resultCallback(results);
}
});
        return false;
        });

/* Run loader gif at the right time */
$(document).ajaxStart(function() {
        $("#qLoader").css("display", "block");
        });
$(document).ajaxStop(function() {
        $("#qLoader").css("display", "none");
        });

</script>

