<div class="container" style="padding-top: 10%">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <div class="well bs-component">
                <form id="serialForm" class="form-horizontal">
                    <fieldset>
                        <legend>Query by serial</legend>
                        <div class="form-group">
                            <label for="inputSerial" class="col-lg-2 control-label">Serial</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputSerial" name="inputSerial" placeholder="Serial">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="well bs-component">
                <form id="dateForm" class="form-horizontal">
                    <fieldset>
                        <legend>Query by date</legend>
                        <div class="form-group">
                            <label for="startDate" class="col-lg-2 control-label">Start date:</label>
                            <div class="col-lg-10">
                                <input type="text" id="startDate" class="form-control datepicker" name="startDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-lg-2 control-label">End date:</label>
                            <div class="col-lg-10">
                                <input type="text" id="endDate" class="form-control datepicker" name="endDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="queryResults"/>

<script type="text/javascript" src="/assets/bootstrap-datepicker.js"></script>
<script type="text/javascript">

function renderResult(result) {
    // STUB:
    data = JSON.stringify(result);
    var resItem = $(document.createElement("p")).text(data);
    return resItem;
}

function resultCallback(results) {
    $myres = results
    var resContainer = $("#queryResults");
    resContainer.empty();
    for (var i = 0; i < results.length ; i++) {
        resContainer.append(renderResult(results[i]));
    }
}

$("#serialForm").submit(function() {
    $.ajax({
        type: "POST",
        url: "/querySerial",
        dataType: 'json',
        data: $("#serialForm").serializeArray(),
        success: function(results) {
            resultCallback(results);
        }
    });
    return false;
});

$("#dateForm").submit(function() {
    $.ajax({
        type: "POST",
        url: "/queryDate",
        dataType: 'json',
        data: $("#dateForm").serializeArray(),
        success: function(results) {
            resultCallback(results);
        }
    });
    return false;
});

</script>

